@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Source Sans Pro;
  text-align: center;
  line-height: 1.5;
  background-color: #e1e1e3;
}

header {
  height: 110px;
  background-color: #1d2539;
  margin-top: 0px, 0px;
  padding-top: 0px;
}

footer {
  height: 100px;
  background-color: #1d2539;
}

.logo {
  text-align: left;
  padding-bottom: 0px;
  margin: 0;
}

#js-form {
  text-align: left;
  padding-left: 10px;
  color: white;
}

button,
input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0 0.5em 0 0.5em;
  margin-left: -3.2em;
}

.column-urban {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 0 1em 0 1em;
  margin-top: -2.5em;
  font-size: 12px;
}

.column-gif {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 0 1em 0 1em;
}

.results-list {
  font-size: 10px;
  display: flex;
}
